<div class="w-60">
    <svg width="60" height="60" viewBox="0 0 305 241" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_0_1)">
            <path d="M165.53 0L304.96 219H26.1L165.53 0Z" fill="white" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
            <path d="M284.917 208H46.1434L165.53 20.4814L284.917 208Z" stroke="black" stroke-opacity="0.2"
                stroke-width="22" />
        </g>
        <g filter="url(#filter1_d_0_1)">
            <path d="M165.727 50.0677L253.905 190.434L77.8875 190.628L165.727 50.0677Z"
                fill="url(#paint0_linear_0_1)" />
        </g>
        <g filter="url(#filter2_d_0_1)">
            <mask id="path-4-inside-1_0_1" fill="white">
                <path
                    d="M52.5301 123C52.5301 125.615 64.1558 128.126 84.9158 129.995C105.676 131.863 133.919 132.941 163.591 132.998C193.264 133.054 222.006 132.084 243.659 130.295C265.311 128.507 278.15 126.042 279.425 123.43L166.03 123L52.5301 123Z" />
            </mask>
            <path
                d="M52.5301 123C52.5301 125.615 64.1558 128.126 84.9158 129.995C105.676 131.863 133.919 132.941 163.591 132.998C193.264 133.054 222.006 132.084 243.659 130.295C265.311 128.507 278.15 126.042 279.425 123.43L166.03 123L52.5301 123Z"
                fill="black" />
            <path
                d="M52.5301 123C52.5301 125.615 64.1558 128.126 84.9158 129.995C105.676 131.863 133.919 132.941 163.591 132.998C193.264 133.054 222.006 132.084 243.659 130.295C265.311 128.507 278.15 126.042 279.425 123.43L166.03 123L52.5301 123Z"
                stroke="black" stroke-width="2" mask="url(#path-4-inside-1_0_1)" />
        </g>
        <g filter="url(#filter3_d_0_1)">
            <path
                d="M110.77 157.2L118.45 152H146.45L138.77 157.2H119.21L117.13 162.4H136.73L140.25 167.6L138.21 172.8L130.53 178H102.53L110.21 172.8H129.81L131.85 167.6H112.25L108.73 162.4L110.77 157.2ZM140.46 178L150.78 152H159.18L150.94 172.8H167.7L171.26 178H140.46ZM174.679 178L184.999 152H193.399L199.839 167.6L218.599 152H226.999L216.679 178H208.279L214.479 162.4L201.959 172.8H193.559L189.279 162.4L183.079 178H174.679Z"
                fill="white" />
        </g>
        <defs>
            <filter id="filter0_d_0_1" x="6.19888e-06" y="0" width="304.96" height="240.1" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dx="-20" dy="15" />
                <feGaussianBlur stdDeviation="3.05" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
            </filter>
            <filter id="filter1_d_0_1" x="73.8875" y="50.0677" width="184.018" height="148.56"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0.610577 0 0 0 0 0.411813 0 0 0 0 0.0684941 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
            </filter>
            <filter id="filter2_d_0_1" x="52.5301" y="123" width="242.095" height="26.2" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dx="9" dy="10" />
                <feGaussianBlur stdDeviation="3.1" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
            </filter>
            <filter id="filter3_d_0_1" x="99.5301" y="152" width="127.468" height="37" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dx="-3" dy="11" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
            </filter>
            <linearGradient id="paint0_linear_0_1" x1="165.727" y1="50.0677" x2="165.933" y2="237.353"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.274038" stop-color="#DD8D01" />
                <stop offset="0.774038" stop-color="#774C01" />
            </linearGradient>
        </defs>
    </svg>
</div>