<div class="hero min-h-screen"
    style="background-image: url(https://www.drmoto.co.nz/cdn/shop/files/IMG_3481.jpg?v=1744779993&width=1000);">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Inversiones Supermoto'rs</h1>
            <p class="mb-5">
                Taller Sin Licencia: especialistas en reparación de motocicletas y venta de lubricantes. Calidad y
                confianza en cada servicio. Tu moto en buenas manos
            </p>
            <button class="btn btn-primary">Registrate Ya!</button>
        </div>
    </div>
</div>