<div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full">
        <img src="assets/images/mantenimiento-1.jpg" class="w-full" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide4" class="btn btn-circle">❮</a>
            <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
        <img src="assets/images/mantenimiento-2.jpg" class="w-full" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide1" class="btn btn-circle">❮</a>
            <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
        <img src="assets/images/mantenimiento-3.jpg" class="w-full" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide2" class="btn btn-circle">❮</a>
            <a href="#slide4" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide4" class="carousel-item relative w-full">
        <img src="assets/images/mantenimiento-4.jpg" class="w-full" />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide3" class="btn btn-circle">❮</a>
            <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
    </div>
</div>
<div class="hero min-h-screen"
    style="background-image: url(https://www.drmoto.co.nz/cdn/shop/files/IMG_3481.jpg?v=1744779993&width=1000);">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Inversiones Supermoto'rs</h1>
            <p class="mb-5">
                Taller Sin Licencia: especialistas en reparación de motocicletas y venta de lubricantes. Calidad y
                confianza en cada servicio. Tu moto en buenas manos
            </p>
            <button class="btn btn-primary">Registrate Ya!</button>
        </div>
    </div>
</div>