<header>
    <div class="flex p-8 justify-center items-center">
        <app-logo-place-holder></app-logo-place-holder>
        <app-search-bar-header></app-search-bar-header>
        <div class="flex w-60 justify-evenly items-baseline">
            <!--Login Section -->
            <div class="login">
                <button class="btn">Iniciar Sesión</button>
            </div>
            <!--Login Section End-->
            <!-- Cart Section -->
            <div class="cart">
                <fa-icon [icon]="faCartShopping" />
                <i class="cartShoppingCounter ">2</i>
            </div>
            <!-- Cart Section End -->
        </div>

    </div>
</header>